<h2 class="border border-top-0 border-left-0 border-right-0 border-muted page-header">My Polls</h2>
<ul id="my-polls-list">
	{{#each polls}}
	<li>
		<a href={{path}} >{{title}}</a>
		<button type="button" class="btn btn-danger btn-sm mx-1 delete-btn" data-id="{{_id}}"><i class="far fa-trash-alt"></i></button>
	</li>
	{{/each}}
</ul>