<h3 class="border border-top-0 border-left-0 border-right-0 border-muted page-header">{{title}}</h3>
<form method="post" action={{path}}>
	<div class="card my-2" style="width: 18rem;">
	  <ul class="list-group list-group-flush">
	  	{{#each options}}
	    <li class="list-group-item input-group py-1 px-2">
	    	<input type="radio" name="poll" value={{0}} checked>
			<label class="mt-2">{{0}}</label>
			<small class="text-muted">{{1}}</small>
	    </li>
	    {{/each}}
	  </ul>
	</div>
	<button class="btn btn-outline-secondary" type="button">Add Option</button>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>